name: Android CI

on:
  #  push:
  #    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  schedule:
    - cron: '0 1,7 1-31 * *'

jobs:
  android_lint:
    name: AndroidLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Run Android Lint
        run: ./gradlew lintRelease

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  ktlint:
    name: ktlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Run ktlint
        run: ./gradlew ktlintCheck

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}


  detekt:
    name: detekt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Run detekt
        run: ./gradlew detekt

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}


  unit_test:
    name: UnitTest
    needs: [ android_lint, ktlint, detekt ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Unit Test
        run: ./gradlew testDebugUnitTest

      - name: Android Test Report
        uses: asadmansr/android-test-report-action@v1.2.0
        if: ${{ always() }}
        with:
          name: reports
          path: app/build/test-results

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}


  build:
    name: Build
    needs: [ android_lint, ktlint, detekt, unit_test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Clean Project
        run: ./gradlew clean --stacktrace

      - name: Build AAB
        run: ./gradlew bundleRelease --stacktrace

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
