name: Android CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  unit_test:
    name: UnitTest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Unit Test
        run: ./gradlew testDebugUnitTest

      - name: Android Test Report
        uses: asadmansr/android-test-report-action@v1.2.0
        if: ${{ always() }} # IMPORTANT: Upload reports regardless of status
        with:
          name: reports
          path: app/build/test-results # path to where the xml test results are stored

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  ktlint:
    name: ktlint
    needs: unit_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Download ktlint
      - run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/0.41.0/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/

      - name: Run ktlint
        run: |
          ktlint --reporter=checkstyle,output=build/ktlint-report.xml
      - uses: yutailang0119/action-ktlint@v1.0.0
        with:
          xml_path: build/*.xml

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}



  build:
    name: Build
    needs: [unit_test, ktlint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git

      - name: Clean Project
        run: ./gradlew clean --stacktrace

      - name: Build AAB
        run: ./gradlew bundleRelease --stacktrace

      - name: Workflow Failed Notification to Slack
        uses: rtCamp/action-slack-notify@v2
        if: ${{ failure() }}
        env:
          SLACK_CHANNEL: github-notification
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://user-images.githubusercontent.com/39984656/126071498-60496f8c-4971-4bb1-9609-2cab573c1079.png
          SLACK_MESSAGE: '[${{ github.workflow }}.${{ github.action }}] Failed!! :rage:'
          SLACK_TITLE: Message
          SLACK_USERNAME: Github Notification
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
