name: Upload AAB to PlayStore

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Tag'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Setting git local config
        run: sh ./update_git_local_config
      - name: Clone Submodule
        run: git clone https://github.com/beomjo/android-compilation.git
      - name: Update Version Code
        run: |
          chmod +x ./update_version_code
          sh ./update_version_code.sh
      - name: Staging git local changes
        run: git add .
      - name: Git commit version changes
        run: git commit -m "Update version code"
      #      - name: Unit Test
#        run: ./gradlew testDebugUnitTest
#      - name: Android Test Report
#        uses: asadmansr/android-test-report-action@v1.2.0
#        if: ${{ always() }} # IMPORTANT: Upload reports regardless of status
#        with:
#          name: reports
#          path: app/build/test-results # path to where the xml test results are stored
      - name: Clean Project
        run: ./gradlew clean
      - name: Build AAB
        run: ./gradlew bundleRelease --stacktrace
      - name: Signing AAB
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY_BASE_64 }}
          alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.SIGNING_STORE_PASSWORD }}
          keyPassword: ${{ secrets.SIGNING_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "30.0.2"
      - name: Upload AAB to Github Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: white_noise_player
          path: app/build/outputs/bundle/release/app-release.aab
      - name: Create service_account.json FROM secrets.GOOGLE_PLAY_STORE_SERVICE_ACCOUNT_JSON
        run: echo '${{ secrets.GOOGLE_PLAY_STORE_SERVICE_ACCOUNT_JSON }}' > service_account.json
      - name: Upload AAB to Google Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service_account.json
          packageName: com.beomjo.whitenoise
          releaseFiles: app/build/outputs/bundle/release/*.aab
          track: production
          inAppUpdatePriority: 5
          whatsNewDirectory: distribution/whatsnew
      - name: Git push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          branch: ${{ github.ref }}


